<br/>
<mat-toolbar>
        <mat-toolbar-row>
          <span>Movies App</span>
        </mat-toolbar-row>
</mat-toolbar>

<br>

<mat-chip-list> 
    <mat-chip color="accent"><a routerLink = ""> Home</a></mat-chip> &nbsp;
    <mat-chip color="accent"><a routerLink = "/addmovie">Add Movie</a></mat-chip>  &nbsp;
    <mat-chip color="accent"><a routerLink = "/displaymovies">Movies Wishlist</a></mat-chip> &nbsp;
    <mat-chip color="accent"><a routerLink = "/moviebyid">Movie by ID</a></mat-chip> &nbsp;
    <mat-chip color="accent"><a routerLink = "/search">Omdb Search</a></mat-chip> &nbsp;
</mat-chip-list>


<router-outlet></router-outlet>