
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html{
    background-image: url('https://i.pinimg.com/originals/7f/22/bd/7f22bd1107b49b5eac20ce21b80d6489.jpg');
    background-attachment: fixed;
    background-repeat:repeat;
    overflow:scroll;
}